

  
  
  <div class="tableWrapper">
  <div class="containerTitle">
    <div class="oneTitle">Name</div>
    <div class="oneTitle">Contact</div>
    <div class="oneTitle">Email</div>
    <div class="oneTitle">Position</div>
    <div class="twoTitle">Address</div>
    <div class="threeTitle">Actions</div>
  </div>
  
  <div class="containerListItems" *ngFor="let employee of records; let i = index" >
    <div class="one">{{employee.name}}</div>
    <div class="two">{{employee.contact}}</div>
    <div class="one">{{employee.email}}</div>
    <div class="one">{{employee.position}}</div>
    <div class="one">{{employee.address}}</div>
    <div class="three">
      <button class="btn-primary" (click)="editEmployee(i)">Edit</button>
      <button class="btn-danger" (click)="deleteEmployee(i)">Delete</button>
    </div>
  </div>
  </div>
  
  
  
  